<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="GeminiApiKey" value="AIzaSyBaZ0U..." />
	</appSettings>

	<connectionStrings>
		<add name="DeskProDb"
			 connectionString="Server=tcp:deskproserver.database.windows.net,1433;Initial Catalog=Deskprobd;Persist Security Info=False;User ID=loginadmin;Password=Deskpr@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>